!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %title RankForce -2chの勢いを監視-
    %script{:type => 'text/javascript', :src => '/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/mix.js'}
    %script{:type => 'text/javascript', :src => '/mix.modules.js'}
    %script{:type => 'text/javascript', :src => '/highcharts.js'}
    %script{:type => 'text/javascript', :src => '/rankforce.js'}
    %script{:type => 'text/javascript'}
      RankForce.run({board: "#{@board}"});
  %body
    %div#graph
